<ul class="list-group">
    <li (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{category.categoryId}}" 
     *ngFor="let category of categories" 
     [class]="getCurrentCategoryClass(category)">{{category.categoryName}}</li> <!--class'ı köşeli paranteze alma: Component'teki bir bilgiyle kullanmak için yapıyoruz-->
  </ul>
  <!--Sol taraftaki kategorilerden birine tıkladığımızda o kategoriye ait ürünler gelecek.setCurrentCategory adında bir fonksiyon yazıyoruz(category.component.ts'de).-->

  <h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz</h5>

  <!--routerLink:Tıkladığımız category'e göre ürünleri listelemek için. app-routing.module.ts'ye tanımla-->